* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 74, 74);
  display: grid;
  grid-template-rows: 8vh 87vh 5vh;
}

.header {
  background-color: rgb(255, 74, 74);
  color: white;
  justify-self: stretch;
  text-align: center;
  font-size: 1.3rem;
  align-self: center;
}

.main {
  align-self: stretch;
  background-color: white;
}

.todos {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(252, 122, 122);
  color: white;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

input[type="text"] {
  font-size: 1em;
  background-color: rgb(252, 122, 122);
  border: none;
  color: white;
  outline: none;
  position: absolute;
  grid-row: span 2;
}

.name-prop {
  margin-left: 0.5rem;
  grid-row: span 2;
  align-self: center;
}

.date-prop {
  font-size: 1.3rem;
  align-self: center;
}

.priority-prop {
  font-size: 1rem;
  align-self: center;
  justify-self: center;
  background-color: rgb(255, 231, 231);
  color: rgb(87, 87, 87);
  padding: 0.1rem 0.25rem 0.1rem;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
}

.notes-div {
  position: relative;
}

.notes-button {
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  color: rgb(87, 87, 87);
  background-color: rgb(255, 231, 231);
  width: 2rem;
  font-weight: 900;
  justify-self: end;
}

.notes-button:hover {
  background-color: rgb(255, 221, 221);
}

.notes-button:active {
  background-color: rgb(255, 200, 200);
}

.notes-text {
  width: 9rem;
  font-size: 1rem;
  padding: 0.2rem;
  position: absolute;
  top: 2.2rem;
  left: 0;
  background-color: rgb(255, 223, 223);
  color: rgb(39, 39, 39);
  border: 0.01rem solid rgb(97, 97, 97);
  border-radius: 0.5rem;
}

.toDoCardBottom {
  align-self: center;
  justify-self: center;
  grid-column: span 2;
}

.change-list,
.delete-todo {
  margin: 0.1rem;
  width: 2rem;
  height: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  color: rgb(36, 36, 36);
  background-color: rgb(255, 240, 240);
}

.change-list:hover,
.delete-todo:hover {
  background-color: rgb(255, 221, 221);
}

.change-list:active,
.delete-todo:active {
  background-color: rgb(255, 200, 200);
}

.list {
  font-size: 2rem;
  color: rgb(46, 46, 46);
  margin: 0.5rem;
}

.footer {
  background-color: rgb(255, 74, 74);
}

.list-options {
  width: 30vw;
  height: 30vh;
  border: 1px solid grey;
  display: none;
}

.toDoButton {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 74, 74);
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

.toDoButton:hover {
  background-color: rgb(255, 0, 0);
}

.toDoButton:active {
  background-color: rgb(255, 110, 110);
}

.new-list {
  position: absolute;
  bottom: 5rem;
  right: 1.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  background: url("./list.png") no-repeat center;
  background-color: rgb(255, 74, 74);
}

.new-list:hover {
  background-color: rgb(255, 0, 0);
}

.new-list:active {
  background-color: rgb(255, 110, 110);
}

h3 {
  display: grid;
  grid-template-columns: 31fr 1fr;
}

h3 > p {
  align-self: center;
  justify-self: end;
  font-size: 1rem;
  font-weight: 500;
}

.github {
  justify-self: start;
  align-self: end;
}

.github > img {
  width: 3rem;
}

.main-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}
