* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-family: "Dosis", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}

h1,
h3 > p {
  font-family: "Dancing Script", cursive;
  font-family: "Dosis", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}

input {
  outline: 1px solid black;
  border: 1px solid black;
}

button:focus-visible {
  outline-style: solid;
  outline-color: black;
}

body {
  background-color: rgb(255, 74, 74);
  display: grid;
  grid-template-rows: 8vh 87vh 5vh;
}

.header {
  background-color: rgb(255, 74, 74);
  color: white;
  justify-self: stretch;
  text-align: center;
  font-size: 1.3rem;
  align-self: center;
}

.main {
  align-self: stretch;
  background-color: white;
}

.todos {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(252, 122, 122);
  color: white;
  margin: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
}

.todos input[type="text"] {
  font-size: 1em;
  background-color: rgb(255 156 156);
  border: none;
  color: white;
  outline: none;
  position: absolute;
  left: 0.5rem;
  grid-row: span 2;
  outline: none;
}

.list-div input[type="text"] {
  font-size: 1em;
  background-color: rgb(255, 100, 100);
  border: none;
  color: white;
  outline: none;
  position: absolute;
  left: 1.2rem;
  grid-row: span 2;
  outline: none;
  justify-self: center;
  font-weight: 700;
  width: 50%;
}

.main-modal input[type="time"] {
  border-radius: 0.5rem;
  margin-bottom: 0.2rem;
  outline: none;
}

.name-prop {
  margin-left: 0.5rem;
  grid-row: span 2;
  align-self: center;
}

.date-prop {
  font-size: 1.3rem;
  align-self: center;
  position: relative;
  justify-self: center;
  margin-right: 0.2rem;
  font-weight: 900;
}

.priority-prop {
  font-size: 1rem;
  align-self: center;
  justify-self: start;
  color: rgb(0, 0, 0);
  padding: 0.1rem 0.25rem 0.1rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
}
/* 
.notes-div {
  position: relative;
} */

.todo-buttons {
  align-self: end;
  justify-self: end;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  margin: 0.2rem;
}

.change-list,
.delete-todo,
.notes-button {
  margin: 0.1rem;
  width: 2rem;
  height: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(255, 74, 74);
  z-index: 2;
}

.notes-button {
  padding-bottom: 0.1rem;
}

.change-list:hover,
.delete-todo:hover,
.notes-button:hover {
  background-color: rgb(255, 221, 221);
}

.change-list:active,
.delete-todo:active,
.notes-button:active {
  background-color: rgb(255, 200, 200);
}

.notes-button {
  font-size: 1.2rem;
  justify-self: end;
}

.notes-text,
.notes-edit {
  width: 14rem;
  height: 6rem;
  font-size: 1rem;
  padding: 0.2rem;
  position: absolute;
  top: 2.2rem;
  right: 2rem;
  background-color: rgb(255, 223, 223);
  color: rgb(39, 39, 39);
  border: 0.01rem solid rgb(97, 97, 97);
  border-radius: 0.5rem;
  overflow: auto;
}

.list {
  font-size: 2rem;
  color: rgb(46, 46, 46);
  margin: 0.5rem;
}

.footer {
  background-color: rgb(255, 74, 74);
}

.toDoButton {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 74, 74);
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

.toDoButton:hover {
  background-color: rgb(255, 0, 0);
}

.toDoButton:active {
  background-color: rgb(255, 110, 110);
}

.new-list {
  position: absolute;
  bottom: 5rem;
  right: 1.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  background: url("./list.png") no-repeat center;
  background-color: rgb(255, 74, 74);
}

.new-list:hover {
  background-color: rgb(255, 0, 0);
}

.new-list:active {
  background-color: rgb(255, 110, 110);
}

h3 {
  display: grid;
  grid-template-columns: 31fr 1fr;
}

h3 > p {
  align-self: center;
  justify-self: end;
  font-size: 1rem;
  font-weight: 500;
}

.github {
  justify-self: start;
  align-self: end;
}

.github > img {
  width: 3rem;
}

.main-modal,
.list-options,
.new-list-modal {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  background-color: rgb(255 156 156);
  color: rgb(39, 39, 39);
  border: 0.01rem solid rgb(97, 97, 97);
  border-radius: 0.5rem;
}

.new-list-modal h2 {
  justify-self: center;
}

.new-list-modal input {
  align-self: center;
  font-size: 1rem;
  font-weight: 700;
}

.list-options {
  display: none;
  padding: 0;
  width: calc(40vw + 2rem);
  height: calc(10vh + 2rem);
}

.main-modal button,
.list-options button {
  border: none;
  background-color: rgb(255, 74, 74);
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.main-modal button:hover,
.list-options button:hover {
  background-color: rgb(255, 0, 0);
}

.main-modal button:active,
.list-options button:active {
  background-color: rgb(255, 110, 110);
}

.list-options button {
  border-radius: 0;
}

.list-options button:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.list-options button:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.main-modal textarea {
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.main-modal textarea:focus {
  outline: 1px solid rgb(39, 39, 39);
}

.main-modal > h2 {
  justify-self: center;
  font-weight: 500;
  color: rgb(37, 37, 37);
}

.name-input {
  font-size: 1rem;
  align-self: center;
  border-radius: 0.2rem;
  background-color: white;
  color: rgb(51, 51, 51);
}

.notes-area {
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
}

.radios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 0.2rem;
}

.radios > input {
  justify-self: start;
}

.change-priority {
  position: absolute;
  top: 2rem;
  right: 0.6rem;
  display: grid;
  grid-template-rows: 1fr;
  /* gap: 0.2rem; */
  background-color: rgb(255, 223, 223);
  color: rgb(39, 39, 39);
  border: 0.01rem solid rgb(97, 97, 97);
  border-radius: 0.5rem;
  /* padding: 0.2rem; */
  z-index: 3;
}

.change-priority button {
  border: none;
  /* border-radius: 1rem; */
  background-color: white;
  padding: 0.5rem;
}

.change-priority button:nth-child(1) {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: lime;
}

.change-priority button:nth-child(2) {
  background-color: yellow;
}

.change-priority button:nth-child(3) {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgb(255 0 0);
}

.set-priority {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem;
}

.set-priority button {
  align-self: center;
  justify-self: stretch;
  background-color: rgb(255, 74, 74);
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  font-weight: 900;
}

.change-date {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  display: grid;
  z-index: 3;
  background-color: rgb(255 161 161);
  border: 0.01rem solid rgb(97, 97, 97);
  border-radius: 0.5rem;
  width: 7rem;
  outline: none;
}

.change-date input {
  justify-self: center;
  background-color: rgb(255 161 161);
  border: none;
  outline: none;
  color: white;
  font-weight: 900;
}

.change-date button {
  background-color: rgb(255, 74, 74);
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: none;
  justify-self: stretch;
  margin-top: 0.2rem;
  font-weight: 900;
}

.clock-icon {
  width: 4rem;
  height: 4rem;
}

.all-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr;
  background-color: rgb(255, 166, 166);
  position: relative;
}

.all-lists h2 {
  position: absolute;
  left: 0.5rem;
}

.all-lists button {
  border: none;
  background-color: rgb(255, 100, 100);
  color: white;
  font-size: 1rem;
  font-weight: 900;
  margin: 0 0.2rem;
}

.all-lists button:hover {
  background-color: rgb(255, 0, 0);
}

.all-lists button:active {
  background-color: rgb(255, 110, 110);
}

.list-div {
  background-color: rgb(255, 100, 100);
  margin: 0 0.2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 1rem;
  position: relative;
}

.list-name {
  justify-self: start;
  padding-left: 1rem;
  grid-row: span 2;
}

.delete-list {
}

.list-div .edit-list {
  font-size: 0.8rem;
}

/* pimp up list selection buttons */
